{% extends "index.html" %}
{% load static i18n %}
{% block main %}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <h3>Bienvenidos a <strong>Proyecto 54</strong></h3>
      <h1> Somos una Agencia para Eventos</h1>
      <h2>Juntos podemos lograr que esa fecha especial, sea inolvidable!</h2>
      <a href="/login/" class="btn-get-started scrollto">RESERVAR AHORA</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Sobre Nosotros </h2>
          <h3>Proyecto <span>54</span></h3>
          <p>Somos Una Agencia de Eventos, listos para ayudarte y asesorarte en lo que necesites.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
             Con más de 20 años en el mercado, nos ha caracterizado el compromiso, entrega y pasión por nuestro trabajo.
            </p>
            <ul>
             
              <li><i class="ri-check-double-line"></i> Las experiencias y los recuerdos son canales a través de los cuales construir vínculos entre las marcas y los consumidores y consumidoras. </li>
              <li><i class="ri-check-double-line"></i> Contamos con planes de actuación frente a imprevistos para que el resultado sea siempre el esperado.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
               <p>
             Con más de 20 años en el mercado, nos ha caracterizado el compromiso, entrega y pasión por nuestro trabajo.
            </p>
            <ul>
             
            <li><i class="ri-check-double-line"></i> Las experiencias y los recuerdos son canales a través de los cuales construir vínculos entre las marcas y los consumidores y consumidoras. </li>
            <li><i class="ri-check-double-line"></i> Contamos con planes de actuación frente a imprevistos para que el resultado sea siempre el esperado.</li>
            
            </ul>
          </div>
          </div>
        </div>
     
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Servicios</h2>
          <h3>Ofrecemos servicios <span>Increibles</span></h3>
          <p>Desde el corazón y formado por un equipo multidisciplinar de profesionales.</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
           <div class="icon-box">
             <div class="icon"><img src="https://cdn.pixabay.com/photo/2016/02/06/17/29/wedding-1183271_960_720.jpg" alt="Imagen Novia" width="240" height="160"></div>
              <h4 class="title"><a href="">BODAS</a></h4>
              <p class="description">Diseñamos y personalizamos detalladamente la boda de tus sueños. </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><img src="https://cdn.pixabay.com/photo/2018/03/27/00/16/one-3264681_960_720.jpg" alt="quinceañera" width="240" height="160"></div>
              <h4 class="title"><a href="">15 AÑOS </a></h4>
              <p class="description">Celebra a lo grande este día con la mejor música juvenil, luces de neón y show en vivo. </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><img src="https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_960_720.jpg" alt="Hora LOCA" width="240" height="160"></div>
              <h4 class="title"><a href="">HORA LOCA </a></h4>
              <p class="description">Te ofrecemos la hora loca más divertida y fantastica que hayas vivido.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><img src="https://cdn.pixabay.com/photo/2020/06/07/13/33/fireworks-5270439_960_720.jpg" alt="quinceañera" width="240" height="160"></div>
              <h4 class="title"><a href="">Fuegos Artificiales</a></h4>
              <p class="description">Este atractivo maravilloso logrará un encanto nocturno muy especial.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
  </main><!-- End #main -->


{% endblock %}