.carousel-inner{
background-position: center;
    background-size: auto;
    border: 0px;
    width: 100vw;
    
}

.bg-login-image {
    background: url("../Img/Logo.jpg");
    background-position: center;
    background-size: auto ;
    border: 0px;
}
.sizeDiv {
    width: 50vw;
}

.mensajeReserva{
    margin-top: 80px;
    text-align: center;
    background-color: #e43c5c;
    color: white;    
}